* {
    .link {
      text-decoration: none;
      color: inherit;
    }
  }

  @font-face {
    font-family: 'Domaine Display Narrow Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Domaine Display Narrow Regular'), url('./fonts/DomaineDispNar-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Domaine Display Narrow Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Domaine Display Narrow Regular Italic'), url('./fonts/DomaineDispNar-RegularItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Domaine Display Narrow Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Domaine Display Narrow Medium'), url('./fonts/DomaineDispNar-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Domaine Display Narrow Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Domaine Display Narrow Medium Italic'), url('./fonts/DomaineDispNar-MediumItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Domaine Display Narrow Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Domaine Display Narrow Semibold'), url('./fonts/DomaineDispNar-Semibold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Domaine Display Narrow Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Domaine Display Narrow Semibold Italic'), url('./fonts/DomaineDispNar-SemiboldItalic.woff') format('woff');
    }
    

    