.pop_services{
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .title1{
        margin-left: 72px;
        font-size: 2rem;
        font-weight: 600;
        color: #404145;
    }
}